<h2>Contatos</h2>
<div class="spinner-border" role="status" *ngIf="estaCarregando">
    <span class="sr-only">Loading</span>
</div>

<button class="btn btn-primary m-1" (click)="newContact()">Novo contato</button>


<div *ngIf="!estaCarregando">
<table class="table table-hover">
    <tr>
        <th>Nome </th>
        <th>Ações </th>
    </tr>

    <tr *ngFor="let contato of contatos">
        <td class="p-3">{{ contato.nome }}</td>
        <td>
            <button class="btn btn-primary m-1" (click)="goToDetails(contato.id)">Ver detalhes</button>
            <button class="btn btn-primary m-1" (click)="goToEdit(contato.id)">Edit</button>
            <button class="btn btn-danger m-1" (click)="removeContact(contato.id)">Deletar</button>
        </td>
    </tr>
</table>
</div>