<app-header [title]="title"></app-header>

<!-- Responsável pour gerenciar as rotas -->
<router-outlet></router-outlet>

<!-- <app-exercicio-data-binding [word]="singleWord" [color]="favoriteColor" (clicked)="onClicked($event)">
</app-exercicio-data-binding> -->

<!-- Two Way Data Binding: [()] = bananas dentro da caixa -->

<!-- <hr>
Valor atual do contador: {{counterValue}}
<app-exercicio-contador [(counter)]="counterValue">
</app-exercicio-contador>

<app-exercicio-diretivas></app-exercicio-diretivas>

<app-exercicio-ngclass></app-exercicio-ngclass>

<app-exercicio-pipes></app-exercicio-pipes> -->

<app-footer></app-footer>